<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TravelDBEntities" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities1" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRAEntities" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TRA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRAEntities1" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TRA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRAEntities2" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TRA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities2" connectionString="metadata=res://*/DataAccess.SqlServer.Model.csdl|res://*/DataAccess.SqlServer.Model.ssdl|res://*/DataAccess.SqlServer.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities3" connectionString="metadata=res://*/DataAccess.SqlServer.Model1.csdl|res://*/DataAccess.SqlServer.Model1.ssdl|res://*/DataAccess.SqlServer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities4" connectionString="metadata=res://*/DataAccess.SqlServer.TravelEntityDataModel.csdl|res://*/DataAccess.SqlServer.TravelEntityDataModel.ssdl|res://*/DataAccess.SqlServer.TravelEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities5" connectionString="metadata=res://*/DataAccess.SqlServer.TravelIEntityDataModel.csdl|res://*/DataAccess.SqlServer.TravelIEntityDataModel.ssdl|res://*/DataAccess.SqlServer.TravelIEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelDBEntities6" connectionString="metadata=res://*/DataAccess.SqlServer.TravelEntityDataModel1.csdl|res://*/DataAccess.SqlServer.TravelEntityDataModel1.ssdl|res://*/DataAccess.SqlServer.TravelEntityDataModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TravelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>